/* Footer container */
.footer {
    background-color: white; /* Nền tối */
    color: #111; /* Chữ trắng */
    font-family: Arial, sans-serif;
    padding: 40px 60px;
    line-height: 1.6;
  }

  .logo {
    width: 50px; /* Điều chỉnh kích thước ảnh */
    height: auto;
  }
  
  .logo-text {
    display: flex; /* Dùng Flexbox để căn ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    /* justify-content: center; Căn giữa theo chiều ngang */
    gap: 10px; /* Khoảng cách giữa ảnh và chữ */
    margin-bottom: 10px; /* Tạo khoảng cách với đoạn văn bản bên dưới */
  }

  .footer-container {
    display: flex;
    justify-content: flex-start; /* Chia đều các cột */
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px; /* Đảm bảo kích thước tối thiểu cho từng cột */
    flex: 0 0 auto;
  }
  
  .footer-column img.logo {
    width: 50px; /* Logo kích thước chuẩn */
    height: auto;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase; /* Chữ in hoa */
  }
  
  .footer-column ul {
    list-style: none; /* Bỏ dấu đầu dòng */
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .footer-column ul li {
    font-size: 14px;
    color: #111; /* Chữ xám nhạt */
    margin-bottom: 8px; /* Khoảng cách giữa các hàng */
    cursor: pointer;
    display: block; /* Đảm bảo mỗ i mục nằm trên 1hàng */
    transition: color 0.3s ease;
  }
  
  .footer-column ul li:hover {
    color: #001aff; /* Highlight chữ khi hover */
  }
  
  /* Footer Bottom */
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #111; /* Dòng ngăn cách */
    text-align: center;
    padding-top: 10px;
    color: #111; /* Chữ xám nhạt */
    font-size: 12px;
  }

  .margin-top {
    margin-top: 100px;
  }
  